<!-------------Colors------------->

:root {
  --body: #212529;
  --error: #FC8900;
  --link: #0000ff;
}

<!-------------Text Styles------------->

h1 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 0.83;
  color: var(--body);
}

h2 {
  font-size: 1.5rem;
  font-weight: 00;
  line-height: 1.67;
  color: var(--body);
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--body);
}

b {
  font-size: 1rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  line-height: 1.75;
  color: var(--body);
}

a {
  color: var(--link);
}

.Tooltip-Text {
  font-size: 0.875rem;
  line-height: 1.71;
}

.Small-Text {
  font-size: 0.75rem;
  line-height: 2;
}

label.error {
    color: var(--error);
}

.center {
  text-align: center;
}

<!---------Body------------>

html * {
    font-family: Muli, Arial, Helvetica, sans-serif;
}

body {
    margin: 2%;
    font-family: Muli, Arial, Helvetica, sans-serif;
}

.container {
    margin-right: 0;
    margin-left: 0;
}

<!---------Images------------>

img.logo-resize {
  max-width:27%;
  max-height:27%;
}

img.resize {
  max-width:50%;
  max-height:50%;
}

img.resize75 {
  max-width:75%;
  max-height:75%;
}


<!---------Breadcrumbs------------>

.active, .breadcrumb-item.active {
  background-color: inherit;
}

/* Drawers */

/* Style the buttons that are used to open and close the accordion panel */
.accordion
{
    background-color: #eee;
    color: var(--body);
    cursor: pointer;
    padding: 18px;
    margin-bottom: 14px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #747678;
    color: #fff;
}

/* Style the accordion panel. Note: hidden by default */
.accordion-panel {
    padding-bottom: 0%;
    padding-left: 1%;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
