:root {
    --tmi-blue: #006A96;
    --tmi-grey: #747678;
    --tmi-gray: #747678;
    --tmi-light-blue: #00C6D7;
    --tmi-orange: #FC8900;
    --tmi-yellow: #F3E500;
    --tmi-light-grey: #E5E2E1;
    --tmi-lighter-grey: #F1F1F1;
    --tmi-brown: #765C52;
}
