{% extends "sitebase.jinja2" %}
{% set page_title = _("Account Details") %}
{% set show_breadcrumbs = True %}
{% block head %}
    <script type="text/javascript" language="javascript" src="/static/js/ruleset.js"></script>
    <!-- Defines COUNTRIES_LIST, based on ebaranov's country/state json with corrections -->
    <!-- See https://gist.github.com/ebaranov/41bf38fdb1a2cb19a781 -->
    <script type="text/javascript" language="javascript" src="/static/js/country_state_list.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/us_states.js"></script>
    <script>
        $(document).ready(function(){
            let form_name = 'acct_form';
            preventImplicitSubmission(form_name);
            preclude_whitespace("#kit_name");

            // Initialize form validation on the registration form.
            // It has the name attribute "registration"
            $("form[name='" + form_name + "']").validate({
                // Specify validation rules
                rules: {
                    // The key name on the left side is the name attribute
                    // of an input field. Validation rules are defined
                    // on the right side
                    first_name: "required",
                    last_name: "required",
                    street: "required",
                    city: "required",
                    state: "required",
                    post_code: "required",
                    language: "required",
                    {% if CREATE_ACCT %}
                    kit_name: {
                        required: "#code:blank",
                        remote: {
                            url: "/check_kit_valid"
                        }
                    },
                    code: {
                        required: "#kit_name:blank",
                        remote: {
                            url: "/check_activation_code",
                            data: {
                                email: function() {
                                    return $("#email").val();
                                }
                            }
                        }
                    },
                    {% endif %}
                    // Make sure the form is submitted to the destination defined
                    // in the "action" attribute of the form when valid
                    submitHandler: function (form) {
                        form.submit();
                    }
                }
            });

            // Link Handlers
            // In our test databases, state sometimes has line breaks, so
            // more complex parsing becomes necessary
            var start_code = {{ account.address.state | e | tojson }};
            cc = new JQuerySelectInput("country_code", "#country_code");
            new DelegateOutput(function(code){
                if (code == "GB")
                {
                    $("#city_label").text("Town*");
                    $("#state_label").text("County*");
                    $("#post_code_label").text("Postcode*");
                    $("#state").empty();
                    for (var country of COUNTRIES_LIST)
                    {
                        if (country.country != "United Kingdom")
                            continue;

                        for (var state of country.states)
                        {
                            var option = $('<option></option>')
                                .attr("value", state)
                                .text(state);

                            // We don't really have state codes for other
                            // countries...
                            if (state == start_code)
                                option.attr('selected','selected');

                            $("#state").append(option);
                        }
                    }
                }
                else
                {
                    $("#city_label").text("{{ _('City') }}*");
                    $("#state_label").text("{{ _('State') }}*");
                    $("#post_code_label").text("{{ _('Zip Code') }}*");
                    $("#state").empty();

                    for (var state of US_STATES)
                    {
                        var option = $('<option></option>')
                            .attr("value", state[0])
                            .text(state[1]);
                        if (state[0] == start_code)
                            option.attr('selected','selected');
                        $("#state").append(option);
                    }
                }
            },cc);
        });


    </script>
{% endblock %}
{% block breadcrumb %}
    {% if not CREATE_ACCT %}
    <li class="breadcrumb-item"><a href="/accounts/{{account.account_id}}">{{ _('Profile') }}</a></li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">{{ _('Profile Details') }}</li>
{% endblock %}
{% block content %}
<div class="card">
    <h5 class="card-header">{{ _('Profile Details') }}</h5>
    <div class="card-body">
        <form id="acct_form" name="acct_form" method="post">
            <div class="form-group">
                <label for="email" name="email_label">{{ _('Email') }}*</label>
                <input id="email" name="email" class="form-control" type="hidden" value="{{account.email |e}}"/>
                <input id="view_email" name="view_email" class="form-control" type="email" value="{{account.email |e}}" disabled="disabled" readonly/>
            </div>
            <div class="form-group">
                <label for="first_name" name="first_name_label">{{ _('First Name') }}*</label>
                <input id="first_name" name="first_name" class="form-control" value="{{account.first_name |e}}" type="text" />
            </div>
            <div class="form-group">
                <label for="last_name" name="last_name_label">{{ _('Last Name') }}*</label>
                <input id="last_name" name="last_name" class="form-control" value="{{account.last_name |e}}" type="text" />
            </div>
            <div class="form-group">
                <label for="street" id="street_label" >{{ _('Street Address') }}*</label>
                <input id="street" name="street" class="form-control" value="{{account.address.street |e}}" type="text" />
            </div>
            <div class="form-group">
                <label for="city" id="city_label"></label>
                <input id="city" name="city" class="form-control" value="{{account.address.city |e}}" type="text" />
            </div>
            <div class="form-group">
                <label for="state" id="state_label"></label>
                <select id="state" name="state" class="form-control">
                    {% for code, full_name in US_STATES %}
                    <option value="{{code}}" {% if account.address.state == code %}selected {% endif %}>{{full_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="post_code" id="post_code_label"></label>
                <input id="post_code" name="post_code" class="form-control" value="{{account.address.post_code |e}}" type="text" />
            </div>
            <div class="form-group">
                <label for="country_code" id="country_code_label">{{ _('Country*') }}</label>
                <br>
                <select id="country_code" name="country_code">
                    <option value="MX" {% if account.address.country_code == "MX" %} selected {% endif %} >{{ _('Mexico') }}</option>
                    <option value="US" {% if account.address.country_code == "US" %} selected {% endif %} >{{ _('United States') }}</option>
                    <option value="GB" {% if account.address.country_code == "GB" %} selected {% endif %} >{{ _('United Kingdom') }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="language" name="language_label">{{ _('Preferred language for future communications') }}*</label>
                <br>
                <select id="language" name="language">
                    <option value="en_US" {% if account.language == "en_US" %} selected {% endif %} >English</option>
                    <option value="es_MX" {% if account.language == "es_MX" %} selected {% endif %} >Español</option>
                </select>
            </div>
            {% if CREATE_ACCT %}
            <div class="card mb-3">
                <div class="card-header">
                    {{ _('Activation Info') }}
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="kit_name" name="kit_name_label">{{ _('Kit ID') }}</label>
                        <input id="kit_name" name="kit_name" class="form-control" type="text"/>
                    </div>
                    <div class="text-center">-{{ _('OR') }}-</div>
                    <div class="form-group">
                        <label for="code" name="code_label">{{ _('Activation Code') }}</label>
                        <input id="code" name="code" class="form-control" type="text" placeholder="TMI-XXXXX-XXXXX-XXXXX"/>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if CREATE_ACCT %}
            <button type="submit" class="btn btn-primary">{{ _('Save Profile') }}</button>
            {% else %}
            <button type="submit" class="btn btn-primary">{{ _('Save Profile') }}</button>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
