{% extends "sitebase.jinja2" %}
{% set page_title = _("Account") %}
{% set show_breadcrumbs = True %}
{% block head %}
<script src="/static/vendor/js/jquery-3.4.1.min.js"></script>
<script src="/static/vendor/js/jquery.validate.min.js"></script>

<style>

.card-img {
    height:46px;
    width: auto;
}

.card-title {
  font-size: 1.125rem;
  font-weight: 700;
}

.center-text {
  text-align: center;
}

.info-col {
  min-width: 277.5px;
}
.info-card {
  border: solid 1px #e5e5e5;
  background-color: #eceeef;
  min-width: 200px;
}

.source-card {
  min-width: 200px;
}

#new-source-title {
  text-align: center;
}

</style>
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">{{ _('Dashboard') }}</li>
{% endblock %}
{% block content %}


<div class="container default-container">
    {% if sources|length > 0 %}
    <h2 class="account-h2">{{ _('Active Profiles') }}</h2>
    <div class="row mb-5">
        {% for source in sources %}
        <div class="col-md-4">
            <div class="card card-profile">
                <img src="/static/img/profile_card_icon.png" class="mx-auto card-profile-icon">
                <h2 class="centered profile-card-h2">{{ source.source_name|e}}</h2>
                <a class="btn btn-blue-gradient centered" style="width: fit-content;" href="/accounts/{{account.account_id}}/sources/{{ source.source_id|e }}">
                    {{ _('Go to My Profile') }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <h2 class="account-h2">{{ _('Add New Profile') }}</h2>
    <p class="tmi-content">{{ _('Select the type of profile you would like to create.') }}</p>
    <div class="card" id="human-source">
        <img src="/static/img/source_human.png" class="card-img-top card-img mx-auto mt-3" alt="..."/>
        <div class="card-body center-text">
            <h2 class="center-text">{{ _('Human Profile') }}</h2>
            <p class="center-text tmi-content">{{ _('Share your diet, health, and lifestyle details to help discover more about how this affects the human microbiome.') }}</p>
            <a class="btn btn-blue-gradient btn-lg" href="/accounts/{{ account.account_id }}/create_human_source" role="button">{{ _('Add Human Profile') }}</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-1">
            <img src="/static/img/source_animal.png" class="card-img-top card-img mx-auto my-3" alt="..."/>
        </div>
        <div class="col-md-5">
            <h3 class="disabled-source-types">Pet Profile</h3>
            <p class="small-text disabled-source-types">{{ _('Share sample(s) from an animal (e.g. fecal, saliva, skin, etc.)') }}</p>
            <p class="disabled-source-types"><strong>{{ _('Coming Soon') }}</strong></p>
        </div>
        <div class="col-md-1">
            <img src="/static/img/source_environmental.png" class="card-img-top card-img mx-auto my-3" alt="..."/>
        </div>
        <div class="col-md-5">
            <h3 class="disabled-source-types">{{ _('Environment Profile') }}</h3>
            <p class="small-text disabled-source-types">{{ _('Share sample(s) from the environment (e.g. kitchen counter, food, etc.)') }}</p>
            <p class="disabled-source-types"><strong>{{ _('Coming Soon') }}</strong></p>
        </div>
    </div>
</div>


{% endblock %}
