{% extends "sitebase.jinja2" %}
{% set page_title = _("Admin Activation Codes") %}
{% set show_breadcrumbs = False %}
{% block content %}
    <form method="get">
        <label for="email_query">{{ _('Email') }}:</label>
        <input type="text" name="email_query" value="{{ email_query |e if email_query is not none}}">
        <input type="submit" value="{{ __('Search') }}">
    </form>
    <form method="get">
        <label for="code_query">{{ _('Activation Code') }}:</label>
        <input type="text" name="code_query" value="{{ code_query |e if code_query is not none}}">
        <input type="submit" value="{{ _('Search') }}">
    </form>
    <form method="post">
        <label for="email">{{ _('Email') }}:</label>
        <input type="text" name="email" value="{{ email_query |e if email_query is not none}}">
        <input type="submit" name="generate" value="{{ _('Generate') }}">
        <input type="submit" name="generate_send" value="{{ _('Generate + Send Email') }}">
    </form>
<h4>{{ _('Search Results') }}</h4>
<div class="container">
    {% if diagnostics is not none and diagnostics|length > 0 %}
    <div class="list-group">
        <div class="row">
            <div class="col-sm">
                <i>{{ _('Email') }}</i>
            </div>
            <div class="col-sm">
                <i>{{ _('Code') }}</i>
            </div>
            <div class="col-sm">
                <i>{{ _('Activated') }}</i>
            </div>
        </div>
        {% for row in diagnostics %}
        <div class="container list-group-item {{loop.cycle('odd', 'even') }}">
          <div class="row">
            <div class="col-sm">
              {{ row.email |e}}
            </div>
            <div class="col-sm">
              {{ row.code|e }}
            </div>
            <div class="col-sm">
              {{ row.activated|e }}
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    <br/><br/>
    {% else %}
    {{ _('No accounts found') }}
    {% endif %}
</div>
{% endblock %}
