{% extends "sitebase.jinja2" %}
{% set page_title = _("ADMINISTRATOR MODE") %}
{% set show_breadcrumbs = False %}
{% block content %}
<h4>{{ _('Search Results') }}</h4>
<div class="container">
    {% if accounts|length > 0 %}
    <div class="list-group">
        <div class="row">
            <div class="col-sm">
                <i>{{ _('Email') }}</i>
            </div>
            <div class="col-sm">
                <i>{{ _('Account ID') }}</i>
            </div>
            <div class="col-sm">
                <i>{{ _('AuthRocket Status') }}</i>
            </div>
        </div>
        {% for account in accounts %}
        <div class="container list-group-item {{loop.cycle('odd', 'even') }}">
          <div class="row">
            <div class="col-sm" style="word-wrap: break-word; overflow: hidden;">
              <a href="/accounts/{{account.account_id |e}}">
                  {{ account.email |e}}
              </a>
            </div>
            <div class="col-sm" style="word-wrap: break-word; overflow: hidden;">
              {{ account.account_id|e }}
            </div>
            <div class="col-sm">
              {{ account.authrocket_status|e }}
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    <br/><br/>
    {% else %}
    {{ _('No accounts found') }}
    {% endif %}
</div>
{% endblock %}
