{% extends "sitebase.jinja2" %}
{% set cap_source_type = source_type.capitalize() %}
{% set page_title = "Create " ~ cap_source_type ~" Source" %}
{% set show_breadcrumbs = False %}
{% block head %}
    <script>
        $(document).ready(function(){
            preventImplicitSubmission("new_source_form");
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <form method="post" name="new_source_form" action="/accounts/{{account_id}}/create_nonhuman_source/">
            <div class="form-group">
                <label for="source_name" name="source_name_label">{{cap_source_type}} name (e.g., {% if source_type == 'environmental' %}microwave{% elif source_type == 'animal' %}Fluffy{% endif %}):</label>
                <input id="source_name" name="source_name" class="form-control" type="text" required/>
                <input id="source_type" name="source_type" type="hidden" value="{{source_type}}" />
                <br />
                <label for="source_description" name="source_description_label">{{cap_source_type}} description (optional):</label>
                <input id="source_description" name="source_description" class="form-control" type="text"/>
             </div>
            <input type="submit" class="btn btn-primary" value="Create Source"/>
        </form>
    </div>
{% endblock %}