{% extends "sitebase.jinja2" %}
{% set page_title = _("Error Page") %}
{% set show_breadcrumbs = True %}
{% block head %}
{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block content %}
<p>
    {{ _('An error has occurred (see below). We apologize for any inconvenience.') }}
</p>
<p>
    {{ _('If you have any concerns, please email us at') }} <a href="{{ mailto_url }}">microsetta@ucsd.edu</a> {{ _('with a copy of the error message below.') }}
</p>
<strong>{{ _('Error') }}:</strong>
<br/>
<pre>{{ error_msg }}</pre>
<center>
    <a class="btn btn-blue-gradient centered" style="width: fit-content;" href="/home">
        {{ _('Return Home') }}
    </a>
</center>
{% endblock %}
