{% extends "sitebase.jinja2" %}
{% set page_title = _("Home") %}
{% set show_breadcrumbs = False %}
{% set hide_footer = True %}

{% block head %}
<style type="text/css">
    body {
        padding-left: 0;
        margin: 0;
    }
    .how_it_works {
        background-color: #f1f1f2;
        padding:2rem;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-12 col-lg-8 text-center how_it_works">
          <img src="/static/img/{{ _("en_us") }}/how-it-works.svg" class="img-fluid" />
      </div>
      <div class="col-12 col-lg-4 text-center" style="background: white;">
          <div class="row h-25"></div>
          <div class="row h-50">
              <div class="col d-flex flex-column">
                      <div class="flex-fill">
                          <img src="/static/img/{{ _("en_us") }}/the-microsetta-initiative-logo-rgb-1.png"
                               srcset="/static/img/{{ _("en_us") }}/the-microsetta-initiative-logo-rgb-1@2x.png 2x,
                               /static/img/{{ _("en_us") }}/the-microsetta-initiative-logo-rgb-1@3x.png 3x" />
                      </div>
                      <div class="flex-fill">
                          <h1>{{ _('Welcome!') }}</h1>
                      </div>
                      <div class="flex-fill">
                          <a href="{{authrocket_url}}/signup?redirect_uri={{endpoint}}/authrocket_callback">
                              <button class="btn btn-primary">{{ _('SIGN UP') }}</button>
                          </a>
                      </div>
                      <div class="flex-fill">
                         {{ _('Already have an account?') }}<br/>
                         {{ _('Welcome back!') }} <a href="{{authrocket_url}}/login?redirect_uri={{endpoint}}/authrocket_callback">{{ _('LOG IN') }}</a>
                      </div>
              </div>
          </div>
          <div class="row h-25"></div>
      </div>
    </div>
{% endblock %}
