{% extends "sitebase.jinja2" %}
{% set page_title = "Home" %}
{% set show_breadcrumbs = True %}
{% set is_home = True %}
{% block head %}
{% endblock %}

{% block content %}
{% if not LOGGED_IN %}
    You are not logged in. Please click to either: <br/>
    <a href="{{authrocket_url}}/login?redirect_uri={{endpoint}}/authrocket_callback">Log In</a> or
    <a href="/signup_intermediate">Sign Up</a>
{% else %}
    <p>
        To continue: Check your email account to obtain your confirmation email and link, which was sent to confirm your account.
        This email will come from our authentication service, AuthRocket, under the email address "noreply@loginrocket.com".
    </p>
    <p>
        If you cannot locate the original confirmation email, have it resent by
        clicking the button below to view your AuthRocket profile, and then
        clicking the "resend verification email" link next to your email address.
    </p>
    <p>
        <a href = "{{ authrocket_url }}/profile"><button class = "btn btn-primary">
            View AuthRocket Profile
        </button></a>
    </p>

    <p>If you do not receive this email within a few minutes and have checked your spam/junk mail folders, please contact us at
    <a href="mailto:microsetta@ucsd.edu">microsetta@ucsd.edu</a>.
{% endif %}
{% endblock %}