{% extends "sitebase.jinja2" %}
{% set page_title = _("Home") %}
{% set show_breadcrumbs = False %}
{% set hide_footer = True %}

{% block head %}
<style type="text/css">
    body {
        padding-left: 0;
        margin: 0;
    }
    .how_it_works {
        background-color: #f1f1f2;
        padding:2rem;
    }
    .sbi-logo {
        max-width: 300px;
        height: auto;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col text-center" style="background: white;">
          <div class="row h-25"></div>
          <div class="row h-50">
              <div class="col d-flex flex-column">
                    <div class="flex-fill">
                      {% if request.args.get('project') == 'sbi' %}
                          <img class="sbi-logo" src="/static/img/sbi-logo.png" alt="Skin Biome Initiative Logo" />
                      {% else %}
                          <img src="/static/img/{{ _(EN_US_KEY) }}/the-microsetta-initiative-logo-rgb-1.png"  srcset="/static/img/{{ _(EN_US_KEY) }}/the-microsetta-initiative-logo-rgb-1@2x.png 2x, /static/img/{{ _(EN_US_KEY) }}/the-microsetta-initiative-logo-rgb-1@3x.png 3x" />
                      {% endif %}
                  </div>

                  <div class="flex-fill mt-3">
                      <h1>{{ _('Welcome!') }}</h1>
                  </div>

                  <div class="flex-fill mt-3">
                      <a href="{{authrocket_url}}/signup?redirect_uri={{endpoint}}/authrocket_callback">
                          <button class="btn btn-blue-gradient" style="width: 290px">{{ _('Sign Up') }}</button>
                      </a>
                  </div>
                  <div class="flex-fill mt-2">
                     <a href="{{authrocket_url}}/login?redirect_uri={{endpoint}}/authrocket_callback">
                         <button class="btn btn-white-blue-border" style="width: 290px">{{ _('Log In') }}</button>
                     </a>
                  </div>
              </div>
          </div>
          <div class="row h-25"></div>
      </div>
    </div>
{% endblock %}
