{% extends "sitebase.jinja2" %}
{% set page_title = _("My Kits") %}
{% set show_breadcrumbs = True %}

{% set profile_header = True %}
{% set profile_header_active = "kits" %}
{% set profile_header_name = source_name %}
{% set profile_account_id = account_id %}
{% set profile_source_id = source_id %}

{% block head %}
    <link rel="stylesheet" href="/static/vendor/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <style>
        .tooltipper {
          display: inline-block; /* tooltip misplaced horizontally otherwise */
        }

    </style>
    <script src="/static/vendor/js/jquery.form-4.2.2/jquery.form.min.js"></script>
    <script>
        let barcodePrefix = "{{barcode_prefix}}";
        function make_kit_validation_setup_func(form_name, submitHandler) {
            // Initialize form validation
            let form_selector = "form[name='" + form_name + "']";
            return function() {
                let validateOptions = {
                    // Specify validation rules
                    rules: {
                        // The key name on the left side is the name attribute
                        // of an input field. Validation rules are defined
                        // on the right side
                        kit_name: {
                            required: true,
                            remote: {
                                url: "/check_kit_valid",
                            }
                        }
                    }
                };
                if (submitHandler !== null){
                    validateOptions["submitHandler"] = submitHandler;
                }
                $(form_selector).validate(validateOptions);
            };
        }

        let kitSubmitHandler = function(form, evt){
            let samples_selector = '#samples';
            let error_txt = "";
            let successful = false;
            $(form).ajaxSubmit({
                success: function (samples, textStatus, jqXHR) {
                    $(samples_selector).empty();
                    for (let i = 0; i < samples.length; i++) {
                        let bc = samples[i].sample_barcode;
                        let sample_id = samples[i].sample_id;
                        let item = $('<div class="container list-group-item">' +
                                     '<div class="row">' +
                                     '<div class="col-sm">' +
                                     '<label for="' + bc + '">' + bc + '</label>' +
                                     '</div>' +
                                     '<div class="col-sm">' +
                                     '<input type="checkbox" name="sample_id" id="' + bc + '" value="' + sample_id + '"/>' +
                                     '</div>' +
                                     '</div>');
                        $(samples_selector).append(item);
                    }
                    let div = $('#choose_sample_div');
                    div.collapse('show');
                    successful = true;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    error_txt = jqXHR.responseText;
                },
                complete: function (data, textStatus, outputObj) {
                    if (successful)
                        return;
                    if (error_txt === "")
                        error_txt = textStatus;
                    // Get customized error page that will show whatever error message we captured
                    // here in the front end
                    let queryParam = encodeURIComponent(error_txt);
                    window.location.replace("{{ endpoint }}/error?error_msg=" + queryParam);
                }
            });
        };

        function verifyDissociateSample(sampleId){
            let confirmMsg = "{{ _('Do you really want to remove this sample from this source?') }} " +
                "{{ _('Doing so will remove any collection info saved for this sample and will') }} " +
                "{{ _('unlink it from all surveys.') }}";
            return window.confirm(confirmMsg);
        }

        function verifyDeleteSource(sourceName){
            let confirmMsg = "{{ _('You are deleting source') }} " + sourceName + " {{ _('and all surveys associated with it!') }} " +
                "{{ _('This operation cannot be undone.  Are you sure you want to delete this source?') }} ";
            return window.confirm(confirmMsg);
        }

        function renderButton(sampleId) {
            var buttonDiv = document.getElementById("btn-view-" + sampleId);
            var button = document.createElement("a");
            button.type = "button";
            button.text = "{{ _('View') }}";
            button.className = "btn btn-outline-info";
            button.href = "/accounts/{{account_id}}/sources/{{source_id}}/samples/" + sampleId + "/results";
            buttonDiv.appendChild(button);
        }

        function addButtonIfData(sampleId, barcode) {
            let url = '{{public_endpoint}}' + '/sample/list/dataset/' + barcodePrefix + barcode;
            $.ajax({
                url: url,
                type: "GET",
                success: function(data) {
                    if (data.length > 0) {
                        renderButton(sampleId);
                    }
                }
            });
        }

        function disable_link(link_obj) {
            link_obj.style.opacity = .65;
            link_obj.style.pointerEvents = "none";
            return true;
        }

        function enableTooltips(){
            $('.tooltipper').tooltip({position: "bottom"});
        }

        // Wait for the DOM to be ready
        $(document).ready(function(){
            let form_name = 'list_kit_form';
            preventImplicitSubmission(form_name);
            preclude_whitespace('#kit_name');

            let kit_validation_setup_func = make_kit_validation_setup_func(form_name, kitSubmitHandler);
            kit_validation_setup_func()
            {% for sample in samples %}
                addButtonIfData("{{ sample.sample_id }}", "{{ sample.sample_barcode }}")
            {% endfor %}

            enableTooltips()
        });

        function updateButtonState(kit_id_value) {
            if(kit_id_value !== "") {
                document.getElementById("kit_id_button").disabled = false;
            } else {
                document.getElementById("kit_id_button").disabled = true;
            }
        }
    </script>
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/accounts/{{account_id}}" class="breadcrumb-item-profile">{{ _('Dashboard') }}</a></li>
    <li class="breadcrumb-item active-profile" aria-current="page">{{source_name}}</li>
{% endblock %}
{% block content %}
    <div class="container profile-container">
        <div class="alert alert-primary alert-profile mt-4" role="alert">
            Click on the following link if you would like to contribute to receive a kit - <a href="{{ fundrazr_url }}" target="_blank">Get a Kit</a>
        </div>
        <div class="card mt-4 p-4">
            <div class="row">
                <div class="col-2">
                    <h1>My Kits</h1>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
