{% extends "sitebase.jinja2" %}
{% set page_title = _("Consent") %}
{% set show_breadcrumbs = True %}
{% block head %}
<script type="text/javascript" src="/static/vendor/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/static/vendor/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="/static/vendor/js/jquery.validate.min.js"></script>
<script src="/static/vendor/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    function min_validation(form) {
      // needed because Safari does not honor required flag in inputs, or jquery validate
      form = document.getElementById(form);
      var valid = true;
      if(form.participant_name.value.trim().length == 0) {
        form.participant_name.className += " highlight";
          valid = false;
      }
      return valid;
    }

    function validate18(form) {
      var valid = min_validation(form);
      form = document.getElementById(form);

      if(!$("#age18_consent").is(":checked")) {
        form.age18_consent.className += "highlight";
        valid = false;
      }
      return valid;
    }

    function validate06(form) {
      // needed because Safari does not honor required flag in inputs, or jquery validate
      var valid = min_validation(form);
      form = document.getElementById(form);
      if(form.consent_parent.checked == false) {
        form.consent_parent.className += " highlight";
        valid = false;
      }
      if(form.parent_1_name.value.trim().length == 0) {
        form.parent_1_name.className += " highlight";
        valid = false;
      }
      return valid;
    }

    function validate712(form) {
      // needed because Safari does not honor required flag in inputs, or jquery validate
      var valid = min_validation(form);
      form = document.getElementById(form);
      if(form.consent_parent.checked == false) {
        form.consent_parent.className += " highlight";
        valid = false;
      }
      if(form.consent_child.checked == false) {
        form.consent_child.className += " highlight";
        valid = false;
      }
      if(form.consent_witness.checked == false) {
        form.consent_witness.className += " highlight";
        valid = false;
      }
      if(form.obtainer_name.value.trim().length == 0) {
        form.obtainer_name.className += " highlight";
        valid = false;
      }
      if(form.parent_1_name.value.trim().length == 0) {
        form.parent_1_name.className += " highlight";
        valid = false;
      }
      return valid;
    }

    function validate1317(form) {
      // needed because Safari does not honor required flag in inputs, or jquery validate
      var valid = min_validation(form);
      form = document.getElementById(form);
      if(form.consent_parent.checked == false) {
        form.consent_parent.className += " highlight";
        valid = false;
      }
      if(form.consent_child.checked == false) {
        form.consent_child.className += " highlight";
        valid = false;
      }
      if(form.parent_1_name.value.trim().length == 0) {
        form.parent_1_name.className += " highlight";
        valid = false;
      }
      return valid;
    }

    function change_consent_div(radio) {
        $("#0-6-div").hide();
        $("#7-12-div").hide();
        $("#13-17-div").hide();
        $("#18-plus-div").hide();
        $("#"+ radio.value +"-div").show();
    }

    function relax_parents(box) {
        var sec_parent = $("#" + box.form.id + "_parent_2_name");
        if(box.checked) {
            sec_parent.required = false;
        } else {
            sec_parent.required = true;
        }
    }

    $(document).ready(function(e) {
        $("#0-6-div").hide();
        $("#7-12-div").hide();
        $("#13-17-div").hide();
        $("#18-plus-div").hide();
        disableInputOnSubmit("#0-6-form", "#0-6-submit_button", "{{ _('Saving...') }}");
        disableInputOnSubmit("#7-12-form", "#7-12-submit_button", "{{ _('Saving...') }}");
        disableInputOnSubmit("#13-17-form", "#13-17-submit_button", "{{ _('Saving...') }}");
        disableInputOnSubmit("#18-form", "#18-submit_button", "{{ _('Saving...') }}");
        $("#home_page").click(function(){
            window.open('{{home_url}}', '_self')
        })
        $("#create_source").click(function(){
            //window.open('{{post_url}}', '_self')
            //$("#source_modal").modal('hide');
            $("#"+$(this).attr('form_id'))[0].submit();
        })
        $("#18-form, #0-6-form, #7-12-form, #13-17-form").submit(function(e){
            e.preventDefault();
            $form_id = $(this).attr('id');
            if($form_id == "0-6-form"){
                valid = validate06("0-6-form");
            } else if ($form_id == "7-12-form") {
                valid = validate712("7-12-form");
            } else if ($form_id == "13-17-form") {
                valid = validate1317("13-17-form")
            } else if ($form_id == "18-form") {
                valid = validate18("18-form")
            }

            var duplicate_source_check_msg = "{{ _('It looks like you are creating a new source that may be similar or the same as an existing source. If this is the same person as an existing source, please consider providing new samples or survey responses under that source') }}"

            if(valid){
             var name = $('#'+$form_id+'_participant_name').val();
                    $.ajax({
                        url: '{{ duplicate_email_check_url }}',
                        data:JSON.stringify({participant_name:name}),
                        contentType:"application/json",
                        type: 'POST',
                        success: function(response){
                            if(response.error !== undefined){
                                alert(response.error)
                            }
                            if(response.source_duplicate){
                                  $("#source_msg").empty();
                                  $("#source_msg").text(duplicate_source_check_msg);
                                  $("#source_modal").modal('show');
                                  $("#create_source").attr("form_id", $form_id);
                                  $("#18-submit_button").attr("value", "I Accept")
                                  $("#18-submit_button").prop("disabled", false)
                            } else if (response.error === undefined && !response.source_duplicate) {
                                $("#"+$form_id)[0].submit();
                            }
                        },
                        error: function(error){
                            console.log(error);
                        }
                    });
             } else {
              alert("fill all fields")
             }
         });
    });
</script>
<style>
.scrolltext {
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 80%;
  margin: 0 auto;
}
.required-field {
    color: red;
    display: inline-block;
}
</style>
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">{{ _('Consent') }}</li>
{% endblock %}
{% block content%}
<h2>{{ tl['ADD_HUMAN_TITLE'] |e}}</h2>
{% if message %}
<h3 style="color: red">{{message |e}}</h3>
{% endif %}
<div id="age-ranges-div" style='text-align: left;padding: 10px'>
    <h3>{{ tl['SEL_AGE_RANGE'] |e}}</h3>
    <input type='radio' id='age-range-1' name='age-range' value='0-6' onchange="change_consent_div(this)"> <label for='age-range-1'>{{ tl['AGE_0_6'] |e}}</label><br />
    <input type='radio' id='age-range-2' name='age-range' value='7-12' onchange="change_consent_div(this)"> <label for='age-range-2'>{{ tl['AGE_7_12'] |e}}</label><br />
    <input type='radio' id='age-range-3' name='age-range' value='13-17' onchange="change_consent_div(this)"> <label for='age-range-3'>{{ tl['AGE_13_17'] |e}}</label><br />
    <input type='radio' id='age-range-4' name='age-range' value='18-plus' onchange="change_consent_div(this)"> <label for='age-range-4'>{{ tl['AGE_18'] |e}}</label>
    <hr>
</div>

<div id="0-6-div" style='text-align: left;padding: 10px'>
<div class='scrolltext'>
{{ tl['CONSENT_YOUR_CHILD'] }}
{{ tl['PARTICIPATION_AGREEMENT'] }}
{{ tl['EXHIBIT_A'] }}
</div>
    <div class="" id="consent">
        <hr>
        <a href="{{ _('https://oag.ca.gov/sites/all/files/agweb/pdfs/research/bill_of_rights.pdf') }}" target="_blank">{{ tl['BILL_OF_RIGHTS']|e}}</a><br/>
        <form id="0-6-form" name="consent_info" action="{{ post_url }}" method="post">
           <input type="hidden" name="age_range" value="0-6">
           <p><input value="Yes" type="checkbox" name="consent_parent" id="consent_parent" required data-rule-required="true"> {{ tl['TEXT_I_HAVE_READ_PARENT'] |e}} <span class="required-field">*</span></p>
    </div>
    <table>
        <tr><td><label for='participant_name'>{{ tl['PARTICIPANT_NAME'] |e}}</label></td><td><input tabindex="2" type="text" name="participant_name" id="0-6-form_participant_name" required data-rule-required="true"> <span class="required-field">*</span></td></tr>
        <tr><td>{{ tl['PARTICIPANT_PARENT_1'] |e}}</td><td><input tabindex="7" type="text" name="parent_1_name" id="0-6-form_parent_1_name" required data-rule-required="true"> <span class="required-field">*</span></td></tr>
        <tr><td>{{ tl['PARTICIPANT_PARENT_2'] |e}}</td><td><input tabindex="8" type="text" name="parent_2_name" id="0-6-form_parent_2_name" required data-rule-required="true"> <span class="required-field">*</span></td></tr>
        <tr><td>{{ tl['PARTICIPANT_DECEASED_PARENTS'] |e}}</td><td><input  tabindex="9" type="checkbox" name="deceased_parent" id="deceased_parent" value="true" onclick="relax_parents(this)"></td></tr>
        <tr><td><input type="submit" id="0-6-submit_button" value="{{ _('I Accept') }}"></td><td></td></tr>
    </table>
    </form>
</div>
<div id="7-12-div" style='text-align: left;padding: 10px'>
<div class='scrolltext'>
{{ tl['ASSENT_7_12'] }}
</div>
    <div class="" id="consent">
        <hr>
        <form id="7-12-form" name="consent_info" action="{{ post_url }}" method="post">
        <input type="hidden" name="age_range" value="7-12">
           <p><input value="Yes" type="checkbox" name="consent_child" id="consent_child" required data-rule-required="true"> {{ tl['TEXT_I_HAVE_READ_SIMPLIFIED'] |e}} <span class="required-field">*</span></p>
    </div>
    <p><table>
        <tr><td><label for='participant_name'>{{ tl['PARTICIPANT_NAME'] |e}}</label></td><td><input tabindex="2" type="text" name="participant_name" id="7-12-form_participant_name" required data-rule-required="true"> <span class="required-field">*</span></td></tr>
    </table></p>
    <div>
    <h4>{{ tl['PERSON_ATTAINING_ASSENT'] |e}}</h4>
    <p><input value="Yes" type="checkbox" name="consent_witness" id="consent_witness" required data-rule-required="true"> {{ tl['TEXT_ASSENT_WITNESS'] |e}} <span class="required-field">*</span></p>
    </div>
    <p><table>
        <tr><td><label for='obtainer_name'>{{ tl['OBTAINER_NAME'] |e}}</label></td><td><input tabindex="2" type="text" name="obtainer_name" id="obtainer_name" required data-rule-required="true"> <span class="required-field">*</span></td></tr>
    </table></p>
    <hr>
<div class='scrolltext'>
{{ tl['CONSENT_YOUR_CHILD'] }}
{{ tl['PARTICIPATION_AGREEMENT'] }}
{{ tl['EXHIBIT_A'] }}
</div>
<div class="" id="consent">
        <hr>
           <a href="{{ _('https://oag.ca.gov/sites/all/files/agweb/pdfs/research/bill_of_rights.pdf') }}" target="_blank">{{ tl['BILL_OF_RIGHTS']|e}}</a><br/>
           <p><input value="Yes" type="checkbox" name="consent_parent" id="consent_parent" required data-rule-required="true"> {{ tl['TEXT_I_HAVE_READ_PARENT'] |e}} <span class="required-field">*</span></p>
    </div>
    <table>
        <tr><td>{{ tl['PARTICIPANT_PARENT_1'] |e}}: </td><td><input tabindex="7" type="text" name="parent_1_name" id="7-12-form_parent_1_name" required data-rule-required="true"> <span class="required-field">*</span></td></tr>
        <tr><td>{{ tl['PARTICIPANT_PARENT_2'] |e}}: </td><td><input tabindex="8" type="text" name="parent_2_name" id="7-12-form_parent_2_name" required data-rule-required="true"> <span class="required-field">*</span></td></tr>
        <tr><td>{{ tl['PARTICIPANT_DECEASED_PARENTS'] |e}}: </td><td><input  tabindex="9" type="checkbox" name="deceased_parent" id="deceased_parent" value="true" onclick="relax_parents(this)"></td></tr>
        <tr><td><input type="submit" id="7-12-submit_button" value="{{ _('I Accept') }}"></td><td></td></tr>
    </table>
    </form>
</div>

<div id="13-17-div" style='text-align: left;padding: 10px'>
<div class='scrolltext'>
    {{ tl['ASSENT_13_17'] }}
</div>
    <div class="" id="consent">
        <hr>
        <form id="13-17-form" name="consent_info" action="{{ post_url }}" method="post">
           <input type="hidden" name="age_range" value="13-17">
           <p><input value="Yes" type="checkbox" name="consent_child" id="consent_child" required data-rule-required="true"> {{ tl['TEXT_I_HAVE_READ_1'] |e}} <span class="required-field">*</span></p>
    </div>
    <p><table>
        <tr><td><label for='participant_name'>{{ tl['PARTICIPANT_NAME'] |e}}: </label></td><td><input tabindex="2" type="text" name="participant_name" id="13-17-form_participant_name" required data-rule-required="true"> <span class="required-field">*</span></td></tr>
    </table></p>
    <hr>
    <div class='scrolltext'>
    {{ tl['CONSENT_YOUR_CHILD'] }}
    {{ tl['PARTICIPATION_AGREEMENT'] }}
    {{ tl['EXHIBIT_A'] }}
    </div>
    <div class="" id="consent">
        <hr>
           <a href="{{ _('https://oag.ca.gov/sites/all/files/agweb/pdfs/research/bill_of_rights.pdf') }}" target="_blank">{{ tl['BILL_OF_RIGHTS']|e}}</a><br/>
           <p><input value="Yes" type="checkbox" name="consent_parent" id="consent_parent" required data-rule-required="true"> {{ tl['TEXT_I_HAVE_READ_PARENT'] |e}} <span class="required-field">*</span></p>
    </div>
    <table>
        <tr><td>{{ tl['PARTICIPANT_PARENT_1'] |e}}: </td><td><input tabindex="7" type="text" name="parent_1_name" id="13-17-form_parent_1_name" required data-rule-required="true"> <span class="required-field">*</span></td></tr>
        <tr><td>{{ tl['PARTICIPANT_PARENT_2'] |e}}: </td><td><input tabindex="7" type="text" name="parent_2_name" id="13-17-form_parent_2_name" required data-rule-required="true"> <span class="required-field">*</span></td></tr>
        <tr><td>{{ tl['PARTICIPANT_DECEASED_PARENTS'] |e}}: </td><td><input  tabindex="9" type="checkbox" name="deceased_parent" id="deceased_parent" value="true" onclick="relax_parents(this)"></td></tr>
        <tr><td><input type="submit" id="13-17-submit_button" value="{{ _('I Accept') }}"></td><td></td></tr>
    </table>
    </form>
</div>

<div id="18-plus-div" style='text-align: left;padding: 10px'>
<div class='scrolltext'>
{{ tl['CONSENT_18'] }}
{{ tl['PARTICIPATION_AGREEMENT'] }}
{{ tl['EXHIBIT_A'] }}
</div>
<div class="" id="consent">
    <hr>
        <a href="{{ _('https://oag.ca.gov/sites/all/files/agweb/pdfs/research/bill_of_rights.pdf') }}" target="_blank">{{ tl['BILL_OF_RIGHTS']|e}}</a><br/>
        <form id="18-form" name="consent_info" action="{{post_url}}" method="post">
        <input type="hidden" name="age_range" value="18-plus">
           <p><input value="Yes" type="checkbox" name="consent" id="age18_consent" required data-rule-required="true"> {{ tl['TEXT_I_HAVE_READ_1'] |e}} <span class="required-field">*</span></p>
    </div>
    <p><table>
        <tr><td><label for='participant_name'>{{ tl['PARTICIPANT_NAME'] |e}}: </label></td><td><input tabindex="2" type="text" name="participant_name" id="18-form_participant_name" required data-rule-required="true"> <span class="required-field">*</span></td></tr>
        <tr><td><input type="submit" id="18-submit_button" value="{{ _('I Accept') }}"></td><td></td></tr>
    </table></p>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="source_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="source_msg"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="home_page">Return to Home Page</button>
        <button type="button" class="btn btn-primary" id="create_source">Proceed with Creating New Source</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
