{% extends "sitebase.jinja2" %}
{% set page_title = _("Opt Out") %}
{% set show_breadcrumbs = False %}
{% set hide_header = True %}

{% block head %}
<script type="text/javascript" language="javascript" src="/static/js/ruleset.js"></script>
<!-- Defines COUNTRIES_LIST, based on ebaranov's country/state json with corrections -->
<!-- See https://gist.github.com/ebaranov/41bf38fdb1a2cb19a781 -->
<script type="text/javascript" language="javascript" src="/static/js/country_state_list.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/us_states.js"></script>
<script type="text/javascript" language="javascript" src="/static/vendor/jquery-validation/messages_{{ _(EN_US_KEY) }}.js"></script>

<style type="text/css">
    body {
        padding-left: 0;
        margin: 0;
    }
</style>
{% endblock %}

{% block content %}
<center>
    <div class="card"  style="max-width: 800px; text-align: left;">
        {% if not_found %}
            <div class="card-body">
                <center>
                    {{ _('Sorry, we could not complete the request. Please email <a href="mailto:microsetta@ucsd.edu">microsetta@ucsd.edu</a> with the email address you signed up with so we can remove you from our list.') }}
                </center>
            </div>
        {% else %}
            <form id="opt_out_form" name="opt_out_form" method="post">
                <input type="hidden" name="uid" value="{{ uid |e }}" />
                <div class="card-body">
                    <center>
                        {{ _('We\'re sorry you are no longer interested in participating in The Human Diets & Microbiome Initiative (THDMI). Please click the "opt out" button below to confirm that you do not wish to take part.') }}<br /><br />
                        <input type="submit" class="btn btn-primary button_continue" id="button_submit" value="{{ _('Opt Out') }}">
                    </center>
                </div>
            </form>
        {% endif %}
    </div>
</center>
{% endblock %}
