{% extends "sitebase.jinja2" %}
{% set page_title = _("My Kits") %}
{% set show_breadcrumbs = True %}

{% set profile_header = True %}
{% set profile_header_active = "kits" %}
{% set profile_header_name = source_name %}
{% set profile_account_id = account_id %}
{% set profile_source_id = source_id %}

{% block head %}
    <link rel="stylesheet" href="/static/vendor/jquery-ui-1.12.1/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/static/vendor/css/jquery.timepicker.min.css"/>

    <script type="text/javascript" src="/static/vendor/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/vendor/js/jquery.timepicker.min.js"></script>

    <!-- Download and include supported languages and dialects here -->
    <script type="text/javascript" src="/static/vendor/jquery-ui-i18n/datepicker-es.js"></script>
    <script type="text/javascript" src="/static/vendor/jquery-validation/messages_{{ _(EN_US_KEY) }}.js"></script>

    <script>
        function verifyDissociateSample() {
            let confirmMsg = "{{ _('Do you really want to remove this sample from this source?') }} " +
                "{{ _('Doing so will remove any collection info saved for this sample and will') }} " +
                "{{ _('unlink it from all surveys.') }}";
            if (confirm(confirmMsg)) {
                window.location.replace('/accounts/{{ account_id }}/sources/{{ source_id }}/samples/{{ sample.sample_id }}/remove');
            }
            return false;
        }

        $(document).ready(function(){
            let form_name = 'sample_form';
            preventImplicitSubmission(form_name);

            // TODO - this parsing will break for one part and three part language tags.
            let lang = "{{ _(EN_US_KEY) }}";
            let first = lang.split("_")[0];
            let second = lang.split("_")[1];

            let datepicker_args = {};
            if (first != null && second != null && (first + "-" + second.toUpperCase()) in $.datepicker.regional)
                datepicker_args = $.datepicker.regional[first + "-" + second.toUpperCase()]
            else if (first != null && first in $.datepicker.regional)
                datepicker_args = $.datepicker.regional[first]
            else
                console.log("Unsupported datepicker language, defaulting to english")

            datepicker_args.onClose = function(){
                $(this).valid()
            }

            // Determine date picker format
            let datePickerFormat = "mm/dd/yy"  //datepicker defaults to this if unspecified
            if ("dateFormat" in datepicker_args)
                datePickerFormat = datepicker_args.dateFormat;

            // Set initial date from normalized hidden field
            let normalizedInitialDate = $("#sample_date_normalized").val()
            if (normalizedInitialDate !== "") {
                let initial = $.datepicker.parseDate("mm/dd/yy", normalizedInitialDate)
                $("#sample_date").val($.datepicker.formatDate(datePickerFormat, initial))
            }

            //  Let jquery validate check date format, update hidden field with normalized value
            $.validator.addMethod("monthDayYear", function(value, element)
            {
                let localizedValue = value;
                let check;
                try {
                    let parsed = $.datepicker.parseDate(datePickerFormat, localizedValue);
                    let normalized = $.datepicker.formatDate("mm/dd/yy", parsed)
                    $("#sample_date_normalized").val(normalized)
                    check = true
                }
                catch (e) {
                    check = false
                }
                return this.optional(element) || check;

                //Note that when we translate this string,
                //we have to switch MM/DD/YYYY to the
                //expected localized date format matching the datepicker settings.
            }, "{{ _('Required Format: MM/DD/YYYY') }}");

            $.validator.addMethod("dateInPast", function(value, element)
            {
                let check;
                let date = new Date($("#sample_date_normalized").val());
                var lower_limit = new Date();
                lower_limit.setFullYear(lower_limit.getFullYear() - 10);
                if(date < lower_limit) {
                    check = false;
                } else {
                    check = true;
                }
                return this.optional(element) || check;
            }, "{{ _('Please select a date within the last 10 years.') }}");

            $.validator.addMethod("dateInFuture", function(value, element)
            {
                let check;
                let date = new Date($("#sample_date_normalized").val());
                var upper_limit  = new Date();
                upper_limit.setMonth(upper_limit.getMonth() + 1);
                if(date > upper_limit) {
                    check = false;
                } else {
                    check = true;
                }
                return this.optional(element) || check;
            }, "{{ _('Please select a date within the next 30 days.') }}");

            $("#sample_date").datepicker(datepicker_args)

            $( "#sample_time" ).timepicker({
                timeFormat: 'h:mm p',
                interval: 30,
                {% if sample.sample_time == "" %}
                defaultTime: 'now',
                {% else %}
                defaultTime: '{{ sample.sample_time }}',
                {% endif %}
                startTime: '8',
                dynamic: false,
                dropdown: true,
                scrollbar: true,
                change: function() {
                    $(this).valid();
                }
            });

            {% if sample.sample_edit_locked and not admin_mode %}
            $("#sample_date").datepicker('disable');
            $("#sample_time").prop('disabled', true);
            {% endif %}

            $("form[name='" + form_name + "']").validate({
                // don't automatically move into the Date field
                // as that triggers the pop up and it's annoying
                focusInvalid: false,
                // Specify validation rules
                rules: {
                    // The key name on the left side is the name attribute
                    // of an input field. Validation rules are defined
                    // on the right side
                    sample_date: {
                        required: true,
                        monthDayYear: true,
                        dateInPast: true,
                        dateInFuture: true
                    },
                    sample_time: "required",
                    {% if not is_environmental %}
                    sample_site: "required",
                    {% endif %}
                    // Make sure the form is submitted to the destination defined
                    // in the "action" attribute of the form when valid
                    submitHandler: function (form) {
                        form.submit();
                    }
                }
            });

            {% if not is_environmental %}
            // https://github.com/jquery-validation/jquery-validation/issues/1872#issuecomment-257874743
            $('#sample_site').on('change', function(){
                $("form[name='" + form_name + "']").validate().element('select');
            });
            {% endif %}
    });

    function goToKits() {
        window.location.replace("/accounts/{{ account_id }}/sources/{{ source_id }}/kits");
        return false;
    }
    </script>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/accounts/{{account_id}}" class="breadcrumb-item-profile">{{ _('Dashboard') }}</a></li>
    <li class="breadcrumb-item"><a href="/accounts/{{account_id}}/sources/{{source_id}}" class="breadcrumb-item-profile">{{ source_name }}</a></li>
    <li class="breadcrumb-item active-profile" aria-current="page">{{ _('My Kits') }}</li>
{% endblock %}

{% block content %}
    <form method="post" id="sample_form" name="sample_form">
    <input id="sample_date_normalized" name="sample_date_normalized" type="hidden" value="{{ sample.date | e }}" />

    <div class="container profile-container">
        <div class="card mt-4 p-4">
            <div class="row barcode-row">
                <div class="barcode-col">
                    <img src="/static/img/tube_icon.svg" width="24" height="24" />
                </div>
                <div class="barcode-col barcode-text">
                    <span>{{ sample.sample_barcode }}</span>
                </div>
            </div>
                <div class="card mt-4 sample-card">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <label for="sample_date" name="sample_date_label" class="sample-label">{{ _('Date of Sample Collection') }}*</label>
                            <input id="sample_date" name="sample_date" class="form-control" type="text" autocomplete="off" required\>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="sample_time" name="sample_time_label" class="sample-label">{{ _('Time of Sample Collection') }}*</label>
                            <input id="sample_time" name="sample_time" class="form-control" type="text" value="{{ sample.time | e}}" autocomplete="off" required\>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <label for="sample_site" name="sample_site_label" class="sample-label">{{ _('Sample Type') }}*</label>
                            <select id="sample_site" name="sample_site" class="form-control" required {% if sample.sample_edit_locked and not admin_mode %}disabled{% endif %}>
                                {% if sample.sample_site is none %}
                                    <option disabled selected value> -- {{ _('Select a sample type') }} -- </option>
                                {% endif %}
                                {% for i in range(sample_sites| length) %}
                                    {% set site=sample_sites[i] %}
                                    {% set site_text=sample_sites_text[i] %}
                                    <option value="{{site}}" {% if sample.sample_site == site %}selected {% endif %}>{{site_text}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <label for="sample_notes" id="sample_notes_label" class="sample-label">{{ _('Notes') }}</label>
                            <textarea class="form-control" id="sample_notes" name="sample_notes" placeholder="{{ _('(Optional) Is there anything else about this sample that you would like to add?') }}" rows=3 {% if sample.sample_edit_locked and not admin_mode %}disabled{% endif %}>{{ sample.sample_notes if sample.sample_notes is not none else '' |e}}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-4 text-end">
                            {% if not sample.sample_remove_locked and not admin_mode %}
                                <button class="btn btn-white-red-border me-5" name="remove_button" onClick="return verifyDissociateSample();">{{ _('Remove') }}</button>
                            {% endif %}
                            {% if sample.sample_edit_locked and not admin_mode %}
                            <span class="kit-tooltip-text">{{ _('Your sample has been received by our lab and can no longer be edited. Please <a href="mailto:microsetta@ucsd.edu">contact us</a> with any questions.') }}</span>
                            {% else %}
                                <button class="btn btn-white-blue-border" name="cancel_button" onClick="return goToKits();">{{ _('Cancel') }}</button>
                                <button type="submit" class="btn btn-blue-gradient" name="kit_id_button" id="kit_id_button">{{ _('Save') }}</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </form>

{% endblock %}
