{% extends "sitebase.jinja2" %}
{% set page_title = "Sample Information" %}
{% set show_breadcrumbs = True %}
{% set disable_bootstrap = True %}
{% block head %}
    <link rel="stylesheet" href="/static/vendor/jquery-ui-1.12.1/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/static/vendor/css/jquery.timepicker.min.css"/>

    <script type="text/javascript" src="/static/vendor/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/vendor/js/jquery.timepicker.min.js"></script>

    <script>
        //  Let jquery validate check mm/dd/yyyy
        $.validator.addMethod("monthDayYear", function(value, element)
        {
        //  Derived from the dateITA (dd/mm/yyyy) jquery validate additional method
        //  by swapping day and month in the parseInt calls.
        //  See the additional-methods.js file in the jquery-validate distribution
        //  Note: the additional-methods.js file is
        //      Copyright (c) 2020 Jörn Zaefferer
        //      Released under the MIT license
	        var check = false;
	        var regex = /^\d{1,2}\/\d{1,2}\/\d{4}$/;
	        if (regex.test(value))
	        {
		        var data = value.split("/");
		        var mm = parseInt(data[0], 10);
		        var dd = parseInt(data[1], 10);
		        var yyyy = parseInt(data[2], 10);
                var parsedDate = new Date(Date.UTC(yyyy, mm - 1, dd, 12, 0, 0, 0));
                if ((parsedDate.getUTCFullYear() === yyyy) &&
                    (parsedDate.getUTCMonth() === mm - 1) &&
                    (parsedDate.getUTCDate() === dd)) {
                    check = true;
                } else {
                    check = false;
                }
            } else {
                check = false;
            }
            return this.optional(element) || check;
        }, "Required Format: MM/DD/YYYY");

        $(document).ready(function(){
            let form_name = 'sample_form';
            preventImplicitSubmission(form_name);

            $("#sample_date" ).datepicker({
                onClose: function() {
                    $(this).valid();
                }
            });

            $( "#sample_time" ).timepicker({
                timeFormat: 'h:mm p',
                interval: 30,
                {% if sample.sample_time == "" %}
                defaultTime: 'now',
                {% else %}
                defaultTime: '{{ sample.sample_time }}',
                {% endif %}
                startTime: '8',
                dynamic: false,
                dropdown: true,
                scrollbar: true,
                change: function() {
                    $(this).valid();
                }
            });

            {% if sample.sample_edit_locked and not admin_mode %}
            $("#sample_date").datepicker('disable');
            $("#sample_time").prop('disabled', true);
            {% endif %}

            $("form[name='" + form_name + "']").validate({
                // don't automatically move into the Date field
                // as that triggers the pop up and it's annoying
                focusInvalid: false,
                // Specify validation rules
                rules: {
                    // The key name on the left side is the name attribute
                    // of an input field. Validation rules are defined
                    // on the right side
                    sample_date: {
                        required: true,
                        monthDayYear: true
                    },
                    sample_time: "required",
                    {% if not is_environmental %}
                    sample_site: "required",
                    {% endif %}
                    // Make sure the form is submitted to the destination defined
                    // in the "action" attribute of the form when valid
                    submitHandler: function (form) {
                        form.submit();
                    }
                }
            });

            {% if not is_environmental %}
            // https://github.com/jquery-validation/jquery-validation/issues/1872#issuecomment-257874743
            $('#sample_site').on('change', function(){
                $("form[name='" + form_name + "']").validate().element('select');
            });
            {% endif %}
    });
    </script>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/accounts/{{account_id}}">Account</a></li>
    <li class="breadcrumb-item"><a href="/accounts/{{account_id}}/sources/{{source_id}}">Source</a></li>
    <li class="breadcrumb-item active" aria-current="page">Sample Information</li>
{% endblock %}

{% block content %}
    <div class="container">
      <form method="post" id="sample_form" name="sample_form">
          {% if sample.sample_edit_locked %}
          <div class="alert alert-success" role="alert">
              Sample Recorded, Editing is Locked
          </div>
          {% endif %}
          <div class="form-group row">
            <label for="sample" name="sample_label" class="col-sm-2 col-form-label">Barcode</label>
            <div class="col-sm-4">
                <input id="view_sample" name="view_sample" class="form-control" type="text" value="{{ sample.sample_barcode |e }}" disabled="disabled" readonly/>
            </div>
          </div>

          <div class="form-group row">
            <label for="sample_date" name="sample_date_label" class="col-sm-2 col-form-label">Date</label>
            <div class="col-sm-4">
                <input id="sample_date" name="sample_date" class="form-control" type="text" value="{{ sample.date | e }}" autocomplete="off" required\>
            </div>
            <label for="sample_date" generated="true" class="error"></label>
          </div>

          <div class="form-group row">
            <label for="sample_time" name="sample_time_label" class="col-sm-2 col-form-label">Time</label>
            <div class="col-sm-4">
              <input id="sample_time" name="sample_time" class="form-control" type="text" value="{{ sample.time | e}}" autocomplete="off" required\>
            </div>
            <label for="sample_time" generated="true" class="error"></label>
        </div>

          {% if not is_environmental %}
          <div class="form-group row">
              <div class="col-sm-12">
                {% if not sample.sample_edit_locked or admin_mode %}
                <div class="row">
                    <div class="col-sm-6">
                    <ul>
                        <lh><small id="sample_site_help" class="form-text text-muted">Guidelines for site identification:</small></lh>
                        <li><small id="sample_site_help" class="form-text text-muted">If collecting a <i>BLOOD</i> sample, please select Blood (skin prick) </small></li>
                        <li><small id="sample_site_help" class="form-text text-muted">For all swabs, please select the site as precisely as possible from the options available</small></li>
                    </ul>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <label for="sample_site" name="sample_site_label" class="col-sm-2 col-form-label">Site sampled</label>
                    <div class="col-sm-4">
                      <select id="sample_site" name="sample_site" class="form-control" required {% if sample.sample_edit_locked and not admin_mode %}disabled{% endif %}>
                        {% if not sample.sample_site %}
                        <option disabled selected value> -- Select a sample type -- </option>
                        {% endif %}
                        {% for site in sample_sites %}
                        <option value="{{site}}" {% if sample.sample_site == site %}selected {% endif %}>{{site}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <label for="sample_site" generated="true" class="error"></label>
                </div>
              </div>
          </div>
          {% endif %}

          <div class="form-group">
            <label for="sample_notes" id="sample_notes_label">Notes</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="sample_notes" name="sample_notes" placeholder="(Optional) Is there else about this sample that you would like to add?" rows=3 {% if sample.sample_edit_locked and not admin_mode %}disabled{% endif %}>{{ sample.sample_notes if sample.sample_notes is not none else '' |e}}</textarea>
            </div>
          </div>
         <button type="submit" class="btn btn-primary" {% if sample.sample_edit_locked and not admin_mode %}disabled{% endif %}>Update</button>
      </form>
    </div>
{% endblock %}
