{% extends "sitebase.jinja2" %}
{% set page_title = "Sign up help" %}
{% set show_breadcrumbs = True %}
{% block content %}
<div class="list-group">
    <p>Before signing up, please read the following information to assist you during this process.</p>

</div>
<h4><u>How to create a "Login"</u></h4>
<div class="list-group">
    <p>To create your login, you will need a valid email address and a password of your choice. After entering this information, you will be sent a link to the email provided to
       verify we have the correct information. If you do not receive this email within a few minutes and have checked your spam/junk mail folders, please contact us at <a href="mailto:microsetta@ucsd.edu">microsetta@ucsd.edu</a>, 
       and we will resolve the issue.<p>
</div>
<h4><u>Registration Card</u></h4>
<div class="list-group">
    <p>The kit you have received contains a registration card (found inside the kit's plastic sleeve for Step #2). On this card, you will find
    your Kit ID, which you will need to create your account and to later connect your samples to your profile.<br/>
    <img src="/static/img/old_registration_no_password.jpg" class="resize"/><br/>
    Some cards may also contain a 'Password:' field, which we currently DO NOT require, so please disregard it.<br/>
    <img src="/static/img/old_registration_password.jpg" class="resize"/>
    </p>
    
       <p>Continue to Sign Up: <br/>
       <a href="{{authrocket_url}}/signup?redirect_uri={{endpoint}}/authrocket_callback"><button class="btn btn-primary">Sign Up</button></a></p>
</div>
{% endblock %}
