{% extends "sitebase.jinja2" %}
{% set page_title = _("My Profile") %}
{% set show_breadcrumbs = True %}

{% set profile_header = True %}
{% set profile_header_active = "profile" %}
{% set profile_header_name = source_name %}
{% set profile_account_id = account_id %}
{% set profile_source_id = source_id %}

{% block head %}
    <link rel="stylesheet" href="/static/vendor/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <style>
        .tooltipper {
          display: inline-block; /* tooltip misplaced horizontally otherwise */
        }

    </style>
    <script type="text/javascript">
        function takeExternalSurvey(survey_link, survey_title, survey_description) {
            $("#modal-title").empty();
            $("#modal-title").text(survey_title);
            $("#survey-description").empty();
            $("#survey-description").text(survey_description);
            $("#take-survey").click(async function(e) {
                window.open(survey_link, '_blank').focus();
                $("#source_modal").modal('hide');

                // We need to wait a couple of seconds for the external survey to register in the database, then reload the page. This is not ideal.
                await new Promise(r => setTimeout(r, 2000));
                window.location.reload();
            });
            $("#source_modal").modal('show');
            return false;
        }

        function hideModal() {
            $("#source_modal").modal('hide');
            return false;
        }
    </script>
    <script src="/static/vendor/js/jquery.form-4.2.2/jquery.form.min.js"></script>
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/accounts/{{account_id}}" class="breadcrumb-item-profile">{{ _('Dashboard') }}</a></li>
    <li class="breadcrumb-item active-profile" aria-current="page">{{source_name}}</li>
{% endblock %}
{% block content %}
    <div class="container profile-container">
        <br />
        <p class="tmi-tooltip">
            The Microsetta Initiative aims to generate quality data that can help you better understand your microbiome, help scientists design better studies, and improve the world's understanding of the human microbiome.
        </p>
        <p class="tmi-tooltip">
            Answering our surveys can help us do just that. To get started, build out your profile by answering the surveys below. We will alert you when new surveys become available.
        </p>
        <div class="row mt-5">
        {% for detail in local_surveys %}
            <div class="col-4 p-2">
                <div class="card card-survey">
                    <div class="row m-2">
                        {% if detail.date_last_taken != None %}
                            <div class="col-8 small-text survey-info">{{ _('Last modified') }} {{ detail.date_last_taken }}</div>
                        {% else %}
                            <div class="col-8 card-survey-new">{{ _('NEW') }}</div>
                        {% endif %}
                        <div class="col-4 small-text survey-info text-end">{{ detail.est_minutes }} {{ _('minutes') }}</div>
                    </div>
                    {% if detail.answered < 360 %}
                    <div class="card-survey-bg-progress mx-auto mb-4" style="background: conic-gradient(#006a96 {{ detail.answered }}deg, #c7c7c7 {{ detail.answered }}deg);">
                    {% else %}
                    <div class="card-survey-bg-progress mx-auto mb-4" style="background-color: #D9ECDB;">
                        <img src="/static/img/survey_complete.png" style="position: absolute; bottom: 85px; right: 85px">
                    {% endif %}
                        <div class="card-survey-bg-blank">
                        {% if detail.new_tab %}
                            <a class="survey-title mx-auto" href="/accounts/{{ account_id }}/sources/{{ source_id }}/take_survey?survey_template_id={{ detail.survey_template_id }}" target="_blank">
                        {% else %}
                            <a class="survey-title mx-auto" href="/accounts/{{ account_id }}/sources/{{ source_id }}/take_survey?survey_template_id={{ detail.survey_template_id }}">
                        {% endif %}
                                <img src="/static/img/{{ detail.icon }}" class="card-survey-icon">
                            </a>
                        </div>
                    </div>
                    {% if detail.new_tab %}
                        <a class="survey-title mx-auto" href="/accounts/{{ account_id }}/sources/{{ source_id }}/take_survey?survey_template_id={{ detail.survey_template_id }}" target="_blank">
                    {% else %}
                        <a class="survey-title mx-auto" href="/accounts/{{ account_id }}/sources/{{ source_id }}/take_survey?survey_template_id={{ detail.survey_template_id }}">
                    {% endif %}
                        {{ detail.survey_template_title|e }}
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
        <p class="tmi-tooltip mt-4">
            Below are surveys hosted by partner organizations. You will be directed to an external site in a new browser tab to complete the survey(s) you select. Once you complete them, you may close the tab and return to this page.
        </p>
        <div class="row mt-4">
        {% for detail in remote_surveys %}
            <div class="col-4 p-2">
                <div class="card card-survey-external">
                    <div class="row m-2">
                        {% if detail.answered %}
                            <div class="col-8 card-survey-completed">{{ _('COMPLETED') }}</div>
                        {% else %}
                            <div class="col-8 card-survey-new">{{ _('NEW') }}</div>
                        {% endif %}
                        <div class="col-4 small-text survey-info text-end">{{ detail.est_minutes }} {{ _('min') }}</div>
                    </div>
                    <div class="row m-3 text-center">
                        {% if detail.answered == False %}
                            <a class="survey-title" onClick="return takeExternalSurvey('/accounts/{{ account_id }}/sources/{{ source_id }}/take_survey?survey_template_id={{ detail.survey_template_id }}', '{{ detail.survey_template_title }}', '{{ detail.description }}');" href="/accounts/{{ account_id }}/sources/{{ source_id }}/take_survey?survey_template_id={{ detail.survey_template_id }}" target="_blank">
                                <img src="/static/img/survey_external.png" class="card-survey-icon-external">
                            </a>
                        {% else %}
                            <img src="/static/img/survey_external_taken.svg" class="card-survey-icon-external">
                        {% endif %}
                        {% if detail.answered == False %}
                            </a>
                        {% endif %}
                    </div>
                    <div class="row text-center">
                    {% if detail.answered == False %}
                        <a class="survey-title" onClick="return takeExternalSurvey('/accounts/{{ account_id }}/sources/{{ source_id }}/take_survey?survey_template_id={{ detail.survey_template_id }}', '{{ detail.survey_template_title }}', '{{ detail.description }}');" href="/accounts/{{ account_id }}/sources/{{ source_id }}/take_survey?survey_template_id={{ detail.survey_template_id }}" target="_blank">
                            {{ detail.survey_template_title|e }}
                        </a>
                    {% else %}
                        <span class="survey-title-taken">{{ detail.survey_template_title|e }}</span>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

        <!-- Modal -->
<div class="modal fade" id="source_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="/static/img/survey_external.png">
                <span class="survey-title" id="modal-title"></span>
            </div>
            <div class="modal-body">
                <p id="survey-description" class="survey-description"></p>
                <p id="survey-warning" class="survey-warning">You will only have one opportunity to take this survey. Please make sure you have ample time before you start.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white-blue-border" id="cancel" onClick="hideModal();">Maybe Later</button>
                <button type="button" class="btn btn-blue-gradient" id="take-survey">Take This Survey Now</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
