{% extends "sitebase.jinja2" %}
{% set page_title = _("My Profile") %}
{% set show_breadcrumbs = True %}

{% set profile_header = True %}
{% set profile_header_active = "profile" %}
{% set profile_header_name = source_name %}
{% set profile_account_id = account_id %}
{% set profile_source_id = source_id %}

{% block head %}
    <link rel="stylesheet" href="/static/vendor/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <style>
        .tooltipper {
          display: inline-block; /* tooltip misplaced horizontally otherwise */
        }

    </style>
    <script src="/static/vendor/js/jquery.form-4.2.2/jquery.form.min.js"></script>
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/accounts/{{account_id}}" class="breadcrumb-item-profile">{{ _('Dashboard') }}</a></li>
    <li class="breadcrumb-item active-profile" aria-current="page">{{source_name}}</li>
{% endblock %}
{% block content %}
    <div class="container profile-container">
        <br />
        <p class="tmi-content tmi-tooltip">
            The Microsetta Initiative aims to generate quality data that can help you better understand your microbiome, help scientists design better studies, and improve the world's understanding of the human microbiome.
        </p>
        <p class="tmi-content tmi-tooltip">
            Answering our surveys can help us do just that. To get started, build out your profile by answering the surveys below. We will alert you when new surveys become available.
        </p>
        <div class="row mt-5">
        {% for detail in local_surveys %}
            <div class="col-4 p-2">
                <div class="card card-survey">
                    <div class="row m-2">
                        <div class="col-8 small-text survey-info">Last modified Jun 4, 2022</div>
                        <div class="col-4 small-text survey-info text-end">{{ detail.est_minutes }} min</div>
                    </div>
                    {% if detail.answered < 360 %}
                    <div class="card-survey-bg-progress mx-auto mb-4" style="background: conic-gradient(#006a96 {{ detail.answered }}deg, #c7c7c7 {{ detail.answered }}deg);">
                    {% else %}
                    <div class="card-survey-bg-progress mx-auto mb-4" style="background-color: #D9ECDB;">
                        <img src="/static/img/survey_complete.png" style="position: absolute; bottom: 85px; right: 85px">
                    {% endif %}
                        <div class="card-survey-bg-blank">
                        {% if detail.new_tab %}
                            <a class="survey-title mx-auto" href="/accounts/{{ account_id }}/sources/{{ source_id }}/take_survey?survey_template_id={{ detail.survey_template_id }}" target="_blank">
                        {% else %}
                            <a class="survey-title mx-auto" href="/accounts/{{ account_id }}/sources/{{ source_id }}/take_survey?survey_template_id={{ detail.survey_template_id }}">
                        {% endif %}
                                <img src="/static/img/{{ detail.icon }}" class="card-survey-icon">
                            </a>
                        </div>
                    </div>
                    {% if detail.new_tab %}
                        <a class="survey-title mx-auto" href="/accounts/{{ account_id }}/sources/{{ source_id }}/take_survey?survey_template_id={{ detail.survey_template_id }}" target="_blank">
                    {% else %}
                        <a class="survey-title mx-auto" href="/accounts/{{ account_id }}/sources/{{ source_id }}/take_survey?survey_template_id={{ detail.survey_template_id }}">
                    {% endif %}
                        {{ detail.survey_template_title|e }}
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="row mt-5">
        {% for detail in remote_surveys %}
            <div class="col-4 p-2">
                <div class="card card-survey">
                    <div class="row m-2">
                        <div class="col-8 small-text survey-info">Last modified Jun 4, 2022</div>
                        <div class="col-4 small-text survey-info text-end">2 min</div>
                    </div>
                    {% if detail.answered %}
                    <div class="card-survey-bg-progress mx-auto mb-4" style="background-color: #D9ECDB;">
                        <img src="/static/img/survey_complete.png" style="position: absolute; bottom: 85px; right: 85px">
                    {% else %}
                    <div class="card-survey-bg-progress mx-auto mb-4" style="background: conic-gradient(#006a96 2deg, #c7c7c7 2deg);">
                    {% endif %}
                        <div class="card-survey-bg-blank">
                            {% if detail.answered == False %}
                                <a class="survey-title mx-auto" href="/accounts/{{ account_id }}/sources/{{ source_id }}/take_survey?survey_template_id={{ detail.survey_template_id }}" target="_blank">
                            {% endif %}
                            <img src="/static/img/survey_external.png" class="card-survey-icon">
                            {% if detail.answered == False %}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    {% if detail.answered == False %}
                        <a class="survey-title mx-auto" href="/accounts/{{ account_id }}/sources/{{ source_id }}/take_survey?survey_template_id={{ detail.survey_template_id }}" target="_blank">
                    {% endif %}
                            <span class="survey-title mx-auto">{{ detail.survey_template_title|e }}</span>
                    {% if detail.answered == False %}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
