{% extends "sitebase.jinja2" %}
{% set page_title = _("Home") %}
{% set show_breadcrumbs = False %}
{% set hide_header = True %}

{% block head %}
<script type="text/javascript" language="javascript" src="/static/js/ruleset.js"></script>
<!-- Defines COUNTRIES_LIST, based on ebaranov's country/state json with corrections -->
<!-- See https://gist.github.com/ebaranov/41bf38fdb1a2cb19a781 -->
<script type="text/javascript" language="javascript" src="/static/js/country_state_list.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/us_states.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/spain_states.js"></script>
<script type="text/javascript" language="javascript" src="/static/vendor/jquery-validation/messages_{{ _(EN_US_KEY) }}.js"></script>
<script src="/static/vendor/jquery-validation/additional-methods.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    preventImplicitSubmission("interest_form");

    /*for (var country of COUNTRIES_LIST) {
        var option = $('<option></option>')
            .attr("value", country.country)
            .text(country.country);
        $("#country").append(option);
    }*/

    var active_section = 0;

    $("#country").on('change', function() {
        $("#state").empty();
        var option = $('<option></option>')
            .attr("value", "")
            .text("-- SELECT --");
        $("#state").append(option);

        if(document.interest_form.country.selectedIndex > 0) {
            var selected_country = document.interest_form.country.options[document.interest_form.country.selectedIndex].value;
            if (selected_country == "US") {
                for (var state of US_STATES)
                {
                    var option = $('<option></option>')
                        .attr("value", state[0])
                        .text(state[1]);
                    $("#state").append(option);
                }
                $("#phone").rules( "remove" );
                $("#phone").rules( "add", {
                    required: true,
                    phoneUS: true
                });
            }

            else if (selected_country == "ES") {
                for (var state of SPAIN_STATES)
                {
                    var option = $('<option></option>')
                        .attr("value", state[0])
                        .text(state[1]);
                    $("#state").append(option);
                }
                $("#form_group_address_3, #form_group_address_type").show();
                $("#phone").rules( "remove" );
                $("#phone").rules( "add", {
                    required: true,
                    phoneSPAIN: true
                });

            } else {
                for (var country of COUNTRIES_LIST)
                {
                    if (country.country != selected_country)
                        continue;

                    for (var state of country.states)
                    {
                        var option = $('<option></option>')
                            .attr("value", state)
                            .text(state);
                        $("#state").append(option);
                    }
                }
            }
        }
    });

    function changePage(direction) {
        let fieldsetObject = document.getElementsByTagName("fieldset");
        let new_active_section = 0;

        if(direction === "next") {
            new_active_section = active_section + 1;
        } else {
            new_active_section = active_section - 1;
        }
        let display_active_section = new_active_section+1;

        fieldsetObject[active_section].style.display = "none";
        fieldsetObject[new_active_section].style.display = "block";

        if(new_active_section === 0) {
            document.getElementById("button_previous").style.display = "none";
        } else {
            document.getElementById("button_previous").style.display = "inline-block";
        }
        if(new_active_section === (fieldsetObject.length-1)) {
            document.getElementById("button_next").style.display = "none";
            document.getElementById("button_submit").style.display = "inline-block";
        } else {
            document.getElementById("button_submit").style.display = "none";
            document.getElementById("button_next").style.display = "inline-block";
        }

        window.scrollTo(0,0);
        active_section = new_active_section;
    }

    $.validator.addMethod("countryValidation", function(value, element) {
        var permitted_countries = '{{ campaign_info['permitted_countries'] |e }}';
        permitted_countries = permitted_countries.split(',');
        var country_found = false;
        for(var i = 0; i < permitted_countries.length; i++) {
            if(value === permitted_countries[i]) {
                country_found = true;
                break;
            }
        }
        return country_found;
    }, "{{ _('Sorry, this study is not open to residents of your country.') }}");

	$('.button_continue').click(function() {
	    document.getElementById("validation_modal").style.display = 'block';

	    var form = $("#interest_form");

        $("#postal").removeData("previousValue");

	    form.validate({
	        onkeyup: false,
	        onfocusout: false,
            rules: {
                over_18: "required",
                first_name: "required",
                last_name: "required",
                email: {
                    required: true,
                    email: true
                },
                phone: {
                    required: true,
                    phoneUS: true
                },
                country: {
                    required: true,
                    countryValidation: true
                },
                address_1: "required",
                city: "required",
                state: "required",
                postal: {
                    required: true,
                    /* remote: {
                        url: "/user_address_verification",
                        type: "get",
                        async: false,
                        data: {
                            address_1: function() {
                                return $("#address_1").val();
                            },
                            address_2: function () {
                                return $("#address_2").val();
                            },
                            address_3: function () {
                                return $("#address_3").val();
                            },
                            city: function() {
                                return $("#city").val();
                            },
                            state: function() {
                                return $("#state").val();
                            },
                            country: function() {
                                return $("#country").val();
                            }
                        }
                    } */
                },
                confirm_consent: "required",
            },
            messages: {
                over_18: "{{ _('Please select whether you are at least 18 years of age.') }}",
                first_name: "{{ _('Please enter your first name.') }}",
                last_name: "{{ _('Please enter your last name.') }}",
                email: "{{ _('Please enter a valid email address.') }}",
                phone: "{{ _('Please enter a valid phone number.') }}",
                country: {
                    required: "{{ _('Please select your country.') }}"
                },
                address_1: "{{ _('Please enter your street address.') }}",
                city: "{{ _('Please enter your city.') }}",
                state: "{{ _('Please select your state.') }}",
                postal: {
                    required: "{{ _('Please enter your postal code.') }}",
                    //remote: "{{ _('Sorry, we were unable to verify your address. Please check your information and try again.') }}"
                },
                confirm_consent: "{{ _('Please agree to receiving communications from us.') }}"
            }
	    });

	    if(form.valid() === true) {
	        if(active_section < 3) {
               changePage("next");
            } else {
                document.getElementById("button_submit").disabled = true;
                form[0].submit();
            }
	    }
	    document.getElementById("validation_modal").style.display = 'none';
	});

 	$('#button_previous').click(function(){
		changePage("previous");
	});
});
</script>

<style type="text/css">

    #form_group_address_3, #form_group_address_type {
        display:none;
    }
    body {
        padding-left: 0;
        margin: 0;
    }

    #submit_interest_2, #submit_interest_3, #submit_interest_4 {
        display: none;
    }

    .val_modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .val_modal_content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 50%; /* Could be more or less, depending on screen size */
    }
</style>
{% endblock %}

{% block content %}
<center>
    {% if not valid_campaign %}
        {{ _('Sorry, due to widespread interest, the sign-up list for this project is full.') }}<br /><br />
        {{ _('Please visit our <a href="https://microsetta.ucsd.edu/">website</a> to learn about other opportunities to participate in The Microsetta Initiative.') }}
    {% else %}
    <div id="validation_modal" class="val_modal">
        <div class="val_modal_content">
        <div id="validation_modal_content">{{ _('Verifying your information, please wait just a moment.') }}</div>
        </div>
    </div>
        <img src="/static/img/campaigns/{{ campaign_info['header_image'] |e }}" style="max-height: 100px"><br /><br />
        <div class="card"  style="max-width: 800px; text-align: left;">
            {% if show_alt_info %}
            <h5 class="card-header" style="text-align: center">{{ campaign_info['title_alt'] |e }}</h5>
            {% else %}
            <h5 class="card-header" style="text-align: center">{{ campaign_info['title'] |e }}</h5>
            {% endif %}
            <div class="card-body">
                <form id="interest_form" name="interest_form" method="post">
                    <input type="hidden" name="campaign_id" value="{{ campaign_id |e }}" />
                    <input type="hidden" name="acquisition_source" value="{{ source |e }}" />
                    <fieldset id="submit_interest_1">
                        {% if show_alt_info %}
                            {{ campaign_info['instructions_alt'] |e }}
                        {% else %}
                            {{ campaign_info['instructions'] |e }}
                        {% endif %}<br /><br />
                        <div class="form-group">
                            <label for="over_18" name="over_18_label">{{ _('Are you at least 18 years of age?') }}*</label><br />
                            <input type="radio" name="over_18" value="true" /> {{ _('Yes') }}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="over_18" value="false" /> {{ _('No') }}<br />
                            <label for="over_18" class="error" style="display: none;">{{ _('Please select whether you are at least 18 years of age.') }}</label>
                        </div>
                    </fieldset>
                    <fieldset id="submit_interest_2">
                        {{ _('Please note: Specimen collection kits are associated with the email used when registering. We recommend the following:') }}<br /><br />
                        {{ _('1. One email must be used per kit.') }}<br /><br />
                        {{ _('2. If you plan to complete the form on behalf of another adult, use that person\'s name and email address.') }}<br /><br />
                        {{ _('3. If possible, continue to use the same email throughout the study.') }}<br /><br />
                        {{ _('Once you have received the kit, please continue to use the same email address used when creating your online account.') }}<br /><br />
                        <div class="form-group">
                            <label for="first_name" name="first_name_label">{{ _('First Name') }}*</label>
                            <input id="first_name" name="first_name" class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="last_name" name="last_name_label">{{ _('Last Name') }}*</label>
                            <input id="last_name" name="last_name" class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="email" name="email_label">{{ _('Email Address') }}*</label>
                            <input id="email" name="email" class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="phone" name="phone_label">{{ _('Phone Number') }}*</label>
                            <input id="phone" name="phone" class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="country" name="country_label">{{ _('Country') }}*</label>
                            <select id="country" name="country" class="form-control">
                                <option value="">-- {{ _('SELECT') }} --</option>
                                <option value="US">{{ _('United States') }}</option>
                                <option value="GB">{{ _('United Kingdom') }}</option>
                                <option value="MX">{{ _('Mexico') }}</option>
                                <option value="ES">{{ _('Spain') }}</option>
                                <option value="AF">{{ _('Afghanistan') }}</option>
                                <option value="AL">{{ _('Albania') }}</option>
                                <option value="DZ">{{ _('Algeria') }}</option>
                                <option value="AD">{{ _('Andorra') }}</option>
                                <option value="AO">{{ _('Angola') }}</option>
                                <option value="AQ">{{ _('Antarctica') }}</option>
                                <option value="AG">{{ _('Antigua and Barbuda') }}</option>
                                <option value="AR">{{ _('Argentina') }}</option>
                                <option value="AM">{{ _('Armenia') }}</option>
                                <option value="AU">{{ _('Australia') }}</option>
                                <option value="AT">{{ _('Austria') }}</option>
                                <option value="AZ">{{ _('Azerbaijan') }}</option>
                                <option value="BS">{{ _('Bahamas') }}</option>
                                <option value="BH">{{ _('Bahrain') }}</option>
                                <option value="BD">{{ _('Bangladesh') }}</option>
                                <option value="BB">{{ _('Barbados') }}</option>
                                <option value="BY">{{ _('Belarus') }}</option>
                                <option value="BE">{{ _('Belgium') }}</option>
                                <option value="BZ">{{ _('Belize') }}</option>
                                <option value="BJ">{{ _('Benin') }}</option>
                                <option value="BM">{{ _('Bermuda') }}</option>
                                <option value="BT">{{ _('Bhutan') }}</option>
                                <option value="BO">{{ _('Bolivia') }}</option>
                                <option value="BA">{{ _('Bosnia and Herzegovina') }}</option>
                                <option value="BW">{{ _('Botswana') }}</option>
                                <option value="BR">{{ _('Brazil') }}</option>
                                <option value="BN">{{ _('Brunei') }}</option>
                                <option value="BG">{{ _('Bulgaria') }}</option>
                                <option value="BF">{{ _('Burkina Faso') }}</option>
                                <option value="MM">{{ _('Burma') }}</option>
                                <option value="BI">{{ _('Burundi') }}</option>
                                <option value="KH">{{ _('Cambodia') }}</option>
                                <option value="CM">{{ _('Cameroon') }}</option>
                                <option value="CA">{{ _('Canada') }}</option>
                                <option value="CV">{{ _('Cape Verde') }}</option>
                                <option value="CF">{{ _('Central African Republic') }}</option>
                                <option value="TD">{{ _('Chad') }}</option>
                                <option value="CL">{{ _('Chile') }}</option>
                                <option value="CN">{{ _('China') }}</option>
                                <option value="CO">{{ _('Colombia') }}</option>
                                <option value="KM">{{ _('Comoros') }}</option>
                                <option value="CD">{{ _('Congo, Democratic Republic') }}</option>
                                <option value="CG">{{ _('Congo, Republic of the') }}</option>
                                <option value="CR">{{ _('Costa Rica') }}</option>
                                <option value="CI">{{ _("Cote d'Ivoire") }}</option>
                                <option value="HR">{{ _('Croatia') }}</option>
                                <option value="CU">{{ _('Cuba') }}</option>
                                <option value="CY">{{ _('Cyprus') }}</option>
                                <option value="CZ">{{ _('Czech Republic') }}</option>
                                <option value="DK">{{ _('Denmark') }}</option>
                                <option value="DJ">{{ _('Djibouti') }}</option>
                                <option value="DM">{{ _('Dominica') }}</option>
                                <option value="DO">{{ _('Dominican Republic') }}</option>
                                <option value="TL">{{ _('East Timor') }}</option>
                                <option value="EC">{{ _('Ecuador') }}</option>
                                <option value="EG">{{ _('Egypt') }}</option>
                                <option value="SV">{{ _('El Salvador') }}</option>
                                <option value="GQ">{{ _('Equatorial Guinea') }}</option>
                                <option value="ER">{{ _('Eritrea') }}</option>
                                <option value="EE">{{ _('Estonia') }}</option>
                                <option value="ET">{{ _('Ethiopia') }}</option>
                                <option value="FJ">{{ _('Fiji') }}</option>
                                <option value="FI">{{ _('Finland') }}</option>
                                <option value="FR">{{ _('France') }}</option>
                                <option value="GA">{{ _('Gabon') }}</option>
                                <option value="GM">{{ _('Gambia') }}</option>
                                <option value="GE">{{ _('Georgia') }}</option>
                                <option value="DE">{{ _('Germany') }}</option>
                                <option value="GH">{{ _('Ghana') }}</option>
                                <option value="GR">{{ _('Greece') }}</option>
                                <option value="GL">{{ _('Greenland') }}</option>
                                <option value="GD">{{ _('Grenada') }}</option>
                                <option value="GT">{{ _('Guatemala') }}</option>
                                <option value="GN">{{ _('Guinea') }}</option>
                                <option value="GW">{{ _('Guinea-Bissau') }}</option>
                                <option value="GY">{{ _('Guyana') }}</option>
                                <option value="HT">{{ _('Haiti') }}</option>
                                <option value="HN">{{ _('Honduras') }}</option>
                                <option value="HK">{{ _('Hong Kong') }}</option>
                                <option value="HU">{{ _('Hungary') }}</option>
                                <option value="IS">{{ _('Iceland') }}</option>
                                <option value="IN">{{ _('India') }}</option>
                                <option value="ID">{{ _('Indonesia') }}</option>
                                <option value="IR">{{ _('Iran') }}</option>
                                <option value="IQ">{{ _('Iraq') }}</option>
                                <option value="IE">{{ _('Ireland') }}</option>
                                <option value="IL">{{ _('Israel') }}</option>
                                <option value="IT">{{ _('Italy') }}</option>
                                <option value="JM">{{ _('Jamaica') }}</option>
                                <option value="JP">{{ _('Japan') }}</option>
                                <option value="JO">{{ _('Jordan') }}</option>
                                <option value="KZ">{{ _('Kazakhstan') }}</option>
                                <option value="KE">{{ _('Kenya') }}</option>
                                <option value="KI">{{ _('Kiribati') }}</option>
                                <option value="KP">{{ _('Korea North') }}</option>
                                <option value="KR">{{ _('Korea South') }}</option>
                                <option value="KW">{{ _('Kuwait') }}</option>
                                <option value="KG">{{ _('Kyrgyzstan') }}</option>
                                <option value="LA">{{ _('Laos') }}</option>
                                <option value="LV">{{ _('Latvia') }}</option>
                                <option value="LB">{{ _('Lebanon') }}</option>
                                <option value="LS">{{ _('Lesotho') }}</option>
                                <option value="LR">{{ _('Liberia') }}</option>
                                <option value="LY">{{ _('Libya') }}</option>
                                <option value="LI">{{ _('Liechtenstein') }}</option>
                                <option value="LT">{{ _('Lithuania') }}</option>
                                <option value="LU">{{ _('Luxembourg') }}</option>
                                <option value="MK">{{ _('Macedonia') }}</option>
                                <option value="MG">{{ _('Madagascar') }}</option>
                                <option value="MW">{{ _('Malawi') }}</option>
                                <option value="MY">{{ _('Malaysia') }}</option>
                                <option value="MV">{{ _('Maldives') }}</option>
                                <option value="ML">{{ _('Mali') }}</option>
                                <option value="MT">{{ _('Malta') }}</option>
                                <option value="MH">{{ _('Marshall Islands') }}</option>
                                <option value="MR">{{ _('Mauritania') }}</option>
                                <option value="MU">{{ _('Mauritius') }}</option>
                                <option value="FM">{{ _('Micronesia') }}</option>
                                <option value="MD">{{ _('Moldova') }}</option>
                                <option value="MN">{{ _('Mongolia') }}</option>
                                <option value="ME">{{ _('Montenegro') }}</option>
                                <option value="MA">{{ _('Morocco') }}</option>
                                <option value="MC">{{ _('Monaco') }}</option>
                                <option value="MZ">{{ _('Mozambique') }}</option>
                                <option value="NA">{{ _('Namibia') }}</option>
                                <option value="NR">{{ _('Nauru') }}</option>
                                <option value="NP">{{ _('Nepal') }}</option>
                                <option value="NL">{{ _('Netherlands') }}</option>
                                <option value="NZ">{{ _('New Zealand') }}</option>
                                <option value="NI">{{ _('Nicaragua') }}</option>
                                <option value="NE">{{ _('Niger') }}</option>
                                <option value="NG">{{ _('Nigeria') }}</option>
                                <option value="NO">{{ _('Norway') }}</option>
                                <option value="OM">{{ _('Oman') }}</option>
                                <option value="PK">{{ _('Pakistan') }}</option>
                                <option value="PA">{{ _('Panama') }}</option>
                                <option value="PG">{{ _('Papua New Guinea') }}</option>
                                <option value="PY">{{ _('Paraguay') }}</option>
                                <option value="PE">{{ _('Peru') }}</option>
                                <option value="PH">{{ _('Philippines') }}</option>
                                <option value="PL">{{ _('Poland') }}</option>
                                <option value="PT">{{ _('Portugal') }}</option>
                                <option value="QA">{{ _('Qatar') }}</option>
                                <option value="RO">{{ _('Romania') }}</option>
                                <option value="RU">{{ _('Russia') }}</option>
                                <option value="RW">{{ _('Rwanda') }}</option>
                                <option value="WS">{{ _('Samoa') }}</option>
                                <option value="SM">{{ _('San Marino') }}</option>
                                <option value="ST">{{ _('Sao Tome') }}</option>
                                <option value="SA">{{ _('Saudi Arabia') }}</option>
                                <option value="SN">{{ _('Senegal') }}</option>
                                <option value="RS">{{ _('Serbia') }}</option>
                                <option value="SC">{{ _('Seychelles') }}</option>
                                <option value="SL">{{ _('Sierra Leone') }}</option>
                                <option value="SG">{{ _('Singapore') }}</option>
                                <option value="SK">{{ _('Slovakia') }}</option>
                                <option value="SI">{{ _('Slovenia') }}</option>
                                <option value="SB">{{ _('Solomon Islands') }}</option>
                                <option value="SO">{{ _('Somalia') }}</option>
                                <option value="ZA">{{ _('South Africa') }}</option>
                                <option value="LK">{{ _('Sri Lanka') }}</option>
                                <option value="SD">{{ _('Sudan') }}</option>
                                <option value="SR">{{ _('Suriname') }}</option>
                                <option value="SZ">{{ _('Swaziland') }}</option>
                                <option value="SE">{{ _('Sweden') }}</option>
                                <option value="CH">{{ _('Switzerland') }}</option>
                                <option value="SY">{{ _('Syria') }}</option>
                                <option value="TW">{{ _('Taiwan') }}</option>
                                <option value="TJ">{{ _('Tajikistan') }}</option>
                                <option value="TZ">{{ _('Tanzania') }}</option>
                                <option value="TH">{{ _('Thailand') }}</option>
                                <option value="TG">{{ _('Togo') }}</option>
                                <option value="TO">{{ _('Tonga') }}</option>
                                <option value="TT">{{ _('Trinidad and Tobago') }}</option>
                                <option value="TN">{{ _('Tunisia') }}</option>
                                <option value="TR">{{ _('Turkey') }}</option>
                                <option value="TM">{{ _('Turkmenistan') }}</option>
                                <option value="UG">{{ _('Uganda') }}</option>
                                <option value="UA">{{ _('Ukraine') }}</option>
                                <option value="AE">{{ _('United Arab Emirates') }}</option>
                                <option value="UY">{{ _('Uruguay') }}</option>
                                <option value="UZ">{{ _('Uzbekistan') }}</option>
                                <option value="VU">{{ _('Vanuatu') }}</option>
                                <option value="VE">{{ _('Venezuela') }}</option>
                                <option value="VN">{{ _('Viet nam') }}</option>
                                <option value="YE">{{ _('Yemen') }}</option>
                                <option value="ZM">{{ _('Zambia') }}</option>
                                <option value="ZW">{{ _('Zimbabwe') }}</option>
                            </select>
                        </div>
                    </fieldset>
                    <fieldset id="submit_interest_3">
                        {{ _('Please fill in the address you would like your kit delivered to. Example:') }}<br /><br />
                        {{ _('9500 Gilman Dr.<br />San Diego, CA 920932') }}<br /><br />
                        <div class="form-group">
                            <label for="address_1" name="address_1_label">{{ _('Address 1') }}*</label>
                            <input id="address_1" name="address_1" class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="address_2" name="address_2_label">{{ _('Address 2') }}</label>
                            <input id="address_2" name="address_2" class="form-control" type="text" />
                        </div>
                        <div class="form-group" id="form_group_address_3">
                            <label for="address_3" name="address_3_label">{{ _('Address 3') }}</label>
                            <input id="address_3" name="address_3" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label for="city" name="city_label">{{ _('City') }}*</label>
                            <input id="city" name="city" class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="state" name="state_label">{{ _('State') }}*</label>
                            <select id="state" name="state" class="form-control">
                                <option value="">-- {{ _('SELECT') }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="postal" name="postal_label">{{ _('Postal Code') }}*</label>
                            <input id="postal" name="postal" class="form-control" type="text">
                        </div>
                        <div class="form-group" id="form_group_address_type">
                           <label for="residential_address" name="residential_address_label">{{ _('Address Type') }}</label>
                           <select id="residential_address" name="residential_address" class="form-control">
                               <option value="true">{{ _('Residential') }}</option>
                               <option value="false">{{ _('Commercial') }}</option>
                           </select>
                       </div>
                    </fieldset>
                    <fieldset id="submit_interest_4">
                        <div class="form-group">
                            <label for="confirm_consent" name="confirm_consent_label">{{ _('By subscribing to this program, I agree to receive communications via the newsletter regarding the status of the program, the steps I must complete, tips and tricks for completing my participation and surveys. I agree and understand that I can unsubscribe at any time using a link in the newsletter and this will not change my consent to receive sample status updates directly from the TMI database. ') }}*</label><br />
                            <input type="checkbox" name="confirm_consent" value="true"> {{ _('Yes') }}
                            <label for="confirm_consent" class="error" style="display: none;">{{ _('Please agree to receiving communications from us.') }}</label>
                        </div>
                    </fieldset>
                    <center>
                        <button type="button" class="btn btn-primary" id="button_previous" style="display: none;">&lt;&lt; {{ _('Previous') }}</button>
                        <button type="button" class="btn btn-primary button_continue" id="button_next">{{ _('Next') }} &gt;&gt;</button>
                        <button type="button" class="btn btn-primary button_continue" id="button_submit" style="display: none;">{{ _('Submit') }} >></button>
                    </center>
                </form>
            </div>
        </div>
    {% endif %}
</center>

{% endblock %}
