openapi-spec-validator==0.2.9
swagger-ui-bundle==0.0.9
connexion[swagger-ui]==2.7.0
pyjwt[crypto]==2.1.0
pytest==5.3.3
pytest-cov==4.1.0
coveralls==3.3.1
pycountry==22.3.5
python-dateutil==2.9.0
redis==4.6.0
