name: microsetta-interface CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: set up python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - name: lint it
      run: python -m pip install --upgrade pip
    - name: lint
      run: |
        pip install -q flake8
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: exercise
      run: |
        pytest
